$width: 200;
$height: 40px;

.button {
  width: $width;
  height: $height;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 0.875rem;
  background-color: rgb(32, 93, 207);
  background-color: var(--primary);
  border-radius: var(--rounded-md);
  border-radius: 10px;
}

.button:hover {
  opacity: 0.95;
}

.button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
